.tableContainer {
  width: 80%;
  min-height: 200px;
  max-height: 350px;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

tbody td tr input {
  width: 250px;
  height: 30px;
  border: 1px solid grey;
  padding: 2px 10px;
}
